@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url(./fonts/HelveticaNeueCyr-Thin.eot);
  src: url(./fonts/HelveticaNeueCyr-Thin.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Thin.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url(./fonts/HelveticaNeueCyr-Light.eot);
  src: url(./fonts/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Light.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url(./fonts/HelveticaNeueCyr-Roman.eot);
  src: url(./fonts/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Roman.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url(./fonts/HelveticaNeueCyr-Medium.eot);
  src: url(./fonts/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Medium.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url(./fonts/HelveticaNeueCyr-Bold.eot);
  src: url(./fonts/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Bold.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Cyr Heavy';
  src: url(./fonts/HelveticaNeueCyr-Heavy.eot);
  src: url(./fonts/HelveticaNeueCyr-Heavy.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeueCyr-Heavy.woff) format("woff"), url(./fonts/HelveticaNeueCyr-Heavy.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Condensered Black';
  src: url(./fonts/HelveticaNeue-CondensedBlack.eot);
  src: url(./fonts/HelveticaNeue-CondensedBlack.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeue-CondensedBlack.woff) format("woff"), url(./fonts/HelveticaNeue-CondensedBlack.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Condensered Bold';
  src: url(./fonts/HelveticaNeue-Condensed-Bold.eot);
  src: url(./fonts/HelveticaNeue-Condensed-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/HelveticaNeue-Condensed-Bold.woff) format("woff"), url(./fonts/HelveticaNeue-Condensed-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Humanst521BT';
  src: url(./fonts/Humanst521BT.eot);
  src: url(./fonts/Humanst521BT.eot?#iefix) format("embedded-opentype"), url(./fonts/Humanst521BT.woff) format("woff"), url(./fonts/Humanst521BT.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Humanst521BT';
  src: url(./fonts/Humanst521BT.eot);
  src: url(./fonts/Humanst521BT.eot?#iefix) format("embedded-opentype"), url(./fonts/Humanst521BT.woff) format("woff"), url(./fonts/Humanst521BT.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url(./fonts/Roboto-Bold.eot);
  src: url(./fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/Roboto-Bold.woff) format("woff"), url(./fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url(./fonts/Roboto-Medium.eot);
  src: url(./fonts/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/Roboto-Medium.woff) format("woff"), url(./fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url(./fonts/Roboto-Light.eot);
  src: url(./fonts/Roboto-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/Roboto-Light.woff) format("woff"), url(./fonts/Roboto-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000000;
  color: #fff;
  font-family: 'Roboto Light', sans-serif; }

@media (min-width: 768px) {
  .container {
    padding-top: 15px; } }

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
    margin: 0 auto; } }

.header {
  background-size: cover;
  padding: 0 10px; }

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(./static/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 170px 110px; } }

@media (min-width: 950px) {
  .header {
    background-size: auto 100%;
    background-position: center 0; } }

.header__logo {
  margin-top: 15px; }

@media (min-width: 768px) {
  .header__logo {
    margin-top: 0;
    margin-left: 30px; } }

@media (min-width: 900px) {
  .header__logo {
    width: 50%; } }

.logo {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
  text-align: center; }

@media (min-width: 768px) {
  .logo {
    text-align: left; } }

.logo__link {
  color: #fff;
  text-decoration: none; }

.logo__link:focus,
.logo__link:hover,
.logo__link:visited {
  text-decoration: none;
  color: #fff; }

.logo__condensered {
  font-family: 'Helvetica Condensered Black', sans-serif;
  color: #F2B51C;
  font-weight: 900;
  font-size: 36px;
  display: block; }

.header__contacts-block {
  margin-top: 30px; }

@media (min-width: 768px) {
  .header__contacts-block {
    margin-top: 0;
    margin-right: 30px; } }

.contacts-block {
  font-size: 17px;
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .contacts-block {
    align-items: flex-end; } }

.contacts-block__phone {
  color: #F2B51C;
  font-size: 29px;
  font-family: 'Helvetica Neue Cyr Bold', sans-serif; }

.contacts-block__address {
  padding-left: 30px;
  position: relative; }

.contacts-block__address:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(./static/address.svg);
  left: 0;
  top: 50%;
  transform: translateY(-8px); }

.offer-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .offer-block {
    width: 100%;
    align-items: flex-start;
    align-self: flex-start; } }

@media (min-width: 950px) {
  .offer-block {
    width: 50%; } }

.offer-block__title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Cyr Light', sans-serif;
  font-size: 36px;
  margin-top: 100px; }

@media (min-width: 768px) {
  .offer-block__title {
    text-align: left;
    margin-left: 30px;
    line-height: 56px; } }

.offer-block__title--medium {
  display: block;
  font-family: 'Helvetica Neue Cyr Medium', sans-serif;
  color: #F2B51C; }

.offer-block__button {
  margin-top: 50px;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .offer-block__button {
    margin-left: 30px; } }

.button {
  color: #1C1C26;
  border-radius: 28px;
  padding: 20px 30px;
  font-size: 18px;
  font-family: 'Roboto Medium', sans-serif;
  border: none;
  display: block;
  background: linear-gradient(to bottom, #F2B51C 50%, #634102 100%);
  cursor: pointer; }

.offer-block__button-description {
  max-width: 200px;
  text-align: left;
  display: block;
  font-size: 13px;
  position: relative;
  align-self: flex-end; }

@media (min-width: 768px) {
  .offer-block__button-description {
    align-self: flex-start;
    margin-left: 130px; } }

.offer-block__button-description:before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-image: url(./static/button-description-line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  top: -10px; }

.advantages {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  list-style: none;
  align-items: center; }

@media (min-width: 768px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; } }

@media (min-width: 950px) {
  .advantages {
    width: 40%;
    flex-direction: column; } }

.advantages__item {
  width: 250px;
  font-family: 'Helvetica Neue Cyr Roman', sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

@media (min-width: 768px) {
  .advantages__item {
    width: 50%; } }

@media (min-width: 950px) {
  .advantages__item {
    width: auto; }
  .advantages__item:nth-child(even) {
    align-self: flex-end; } }

.advantages__item-title {
  display: block;
  font-family: 'Helvetica Neue Cyr Heavy', sans-serif;
  font-size: 72px;
  word-spacing: -15px; }

@media (min-width: 768px) {
  .advantages__item-title {
    font-size: 80px; } }

.advantages__item-title--colored {
  font-size: 56px;
  color: #F2B51C; }

@media (min-width: 768px) {
  .advantages__item-title--colored {
    font-size: 60px; } }

.advantages__item-description {
  display: block;
  max-width: 250px; }

.zones {
  margin-top: 50px;
  padding: 0 15px; }

.zones-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media (min-width: 768px) {
  .zones-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 150px; } }

.zones-header__title {
  font-size: 32px;
  text-align: left; }

.zones-header__title--colored {
  display: block;
  color: #F2B51C; }

.zones-header__description {
  font-size: 17px;
  margin-top: 30px; }

@media (min-width: 768px) {
  .zones-header__description {
    width: 250px;
    margin-top: 0;
    margin-left: 20px; } }

.zones__slider {
  max-width: 920px;
  margin: 50px auto;
  position: relative; }

.item-card {
  background-color: #fff;
  width: 200px;
  text-align: center;
  margin: 80px auto 0 auto;
  border-radius: 8px; }

.item-card__img {
  width: auto !important;
  height: 250px !important;
  transform: translateY(-80px);
  margin: 0 auto; }

.item-card__text {
  color: #000;
  transform: translateY(-30px);
  font-size: 19px;
  font-family: 'Roboto Light', sans-serif; }

.item-card__text--embed {
  font-family: 'Roboto Bold', sans-serif; }

.owl-prev,
.owl-next {
  width: 46px;
  height: 46px;
  background-color: #F2B51C !important;
  border-radius: 50%;
  color: #000 !important;
  font-size: 36px !important;
  line-height: 24px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-23px);
  display: block !important; }

.owl-prev {
  left: -5px; }

.owl-next {
  right: -5px; }

@media (min-width: 1150px) {
  .owl-prev {
    left: -50px; }
  .owl-next {
    right: -50px; } }

.owl-nav.disabled {
  display: block !important; }


/*# sourceMappingURL=style.css.map*/